<div>
<div class="ui top attached center aligned  green segment"> 
	Track your expenses or savings
	<i class="info circle icon"></i>
</div>

<div class="ui attached  segment">
	<div class="ui fluid big input">
		<input type="text" placeholder="Enter ammount..." >							
	</div>												
</div>

<div class="ui attached  segment">
	<div class="ui floating fluid right labeled search icon button dropdown" id="categoriesDropdown">
	  <i class="shop icon"></i>
	  <span class="text">Select Category</span>
	  <div class="ui menu">
		<div class="orange item">Category 1</div>
		<div class="item">Category 2</div>
		<div class="item">Category 3</div>
		<div class="item">Category 4</div>
		<div class="item">Category 5</div>
	  </div>
	</div>																	
</div>

<div class="ui bottom attached green button">								
		<i class="plus icon"></i>Add Saving 																		
</div>
</div>