<html>
<head>
	<title>
		Saver - simple app that helps you to track your expenses.
	</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/semantic.css"/>
	<script src="../assets/js/jquery-3.0.0.js"></script>
	<script src="../assets/js/semantic.js"/> </script>
	<script>
	$(document).ready(function(){
		$("#sidebar").sidebar({dimPage:false});
		$("#sidebar").sidebar("attach events", "#sidebarOpener")
	});
	</script>	
</head>

	
<!-- <body>
	  <div class="ui left vertical inverted menu sidebar visible">
		<a class="item">
				Item 1
				</a>
				<a class="item">
				Item 2
				</a>
				<a class="item">
				Item 3
				</a>
	  </div>
	  <div class ="pusher">
	  
		<div class="ui top menu">
			<div class="ui container">
					<a href="#" class="header item">				
							Project Name
					</a>
					<a href="#" class="item">Home</a>
					<a href="#" class="item">Home</a>
					<a href="#" class="item">Home</a>
					<a href="#" class="item">Home</a>								
			</div>
		</div>

		<div class="ui container">
			<div class="ui raised segment">
					<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
			</div>
		</div>
	
	  </div>
</body> -->

<body>
	<div class="ui left vertical inverted menu sidebar visible" id="sidebar">
		<a class="l item">
		Item 1
		</a>
		<a class="item">
		Item 2
		</a>
		<a class="item">
		Item 3
		</a>
	</div> 

	<div class="pusher">
		<div class="ui top attached menu">	  
			<a href="#" class="header item" id="sidebarOpener">				
			Menu
			</a>	
		</div>
	
		<div class="ui container">
			<div class=" ui clearing segment">
					<p> Consider donating money to our super app.</p>
					
										<button class="ui right floated primary button">Donate </button>
					

			</div>
		</div>
	</div>
</body>
</html>